h1 {
    color: rgb(71, 214, 147)7);
}
h2{
    color: rgb(68, 167, 170)), 195, 255);
}
h3{
    color: rgb(211, 84, 243);
}
h4 {
    color: rgb(93, 202, 157);
}

body {
    background-color: lavender;

    text-align: center;
}
.imagem1 {
    width: 40%;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    font-style: initial;

}
.brilho {
   color: deeppink;
    font-style: italic
}
nav a:hover {
    color: blue;
    text-decoration: underline;
}
